.full-width-container > .latest-posts {
    position: relative;
    /*left: 40px;*/
    /*width: calc(100% - 80px);*/
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    /*padding: 40px 0;*/
}

.page-subnav {
    margin-bottom: 20px;
}

.latest-posts-header {
    text-align: center;
    position: relative;
    width: 100%;
}

.latest-posts-header > h3 {
    font-weight: bold;
}

.latest-posts-header > h3::before {
    content: "";
    border-block: 2px solid #FF5271;
    width: 50px;
    position: absolute;
    margin-left: -70px;
    margin-top: 11px;
}

.latest-posts-header > h3::after {
    content: "";
    border-block: 2px solid #FF5271;
    width: 50px;
    position: absolute;
    margin-left: 20px;
    margin-top: 11px;
}


.latest-posts > .post {
    width: calc(50% - 20px);
    height: 300px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.latest-posts > .post:hover {
    text-decoration: none;
    color: #fff;
}

.latest-posts > .post > img {
    position: absolute;
    overflow: hidden;
    min-height: 100%;
    min-width: 100%;
    align-self: center;
}

.latest-posts > .post > .post-image-overlay {
    opacity: 0.55;
    background-color: #000;
    transition: opacity 0.3s, background-color 0.3s;
}

.latest-posts > .post:hover > .post-image-overlay {
    opacity: 1;
    background-color: #ff5271;
}

.latest-posts > .post > div > .post-date {
    display: block;
}

.latest-posts > .post:hover > div > .post-date {
    display: none;
}

.latest-posts > .post > div > .post-preview {
    display: none;
}

.latest-posts > .post:hover > div > .post-preview {
    display: block;
}

.latest-posts > .post > div {
    width: 100%;
    height: 300px;
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: start;
    color: #fff;
    position: absolute;
    padding: 40px;
}

.latest-posts > .post > div > h3 {
    font-size: 28px;
    line-height: 1.3;
    word-break: break-word;
    margin-top: 10px;
}

.latest-posts > .post > div > h4 {
    font-size: 16px;
    line-height: 1.4;
}

.latest-posts > .post > div > span {
    margin-top: 10px;
    line-height: 1.4;
}



.latest-posts > .main-post {
    width: 100%;
    height: 500px;
}

.latest-posts > .main-post > div {
    height: 500px;
}

.latest-posts > .main-post > div > h3 {
    font-size: 65px;
    line-height: 1.4;
}

.post-preview > p {
    font-size: 17px;
}

/*! tailwindcss v3.1.2 | MIT License | https://tailwindcss.com*/ /**, :after, :before {
    box-sizing: border-box;
    border: 0 solid #e5e7eb
}

:after, :before {
    --tw-content: ""
}

html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji
}

body {
    margin: 0;
    line-height: inherit
}

hr {
    height: 0;
    color: inherit;
    border-top-width: 1px
}

abbr:where([title]) {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit
}

a {
    color: inherit;
    text-decoration: inherit
}

b, strong {
    font-weight: bolder
}

code, kbd, pre, samp {
    font-family: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
    font-size: 1em
}

small {
    font-size: 80%
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: initial
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

table {
    text-indent: 0;
    border-color: inherit;
    border-collapse: collapse
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0
}

button, select {
    text-transform: none
}

[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
    background-color: initial;
    background-image: none
}

:-moz-focusring {
    outline: auto
}

:-moz-ui-invalid {
    box-shadow: none
}

progress {
    vertical-align: initial
}

::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

summary {
    display: list-item
}

blockquote, dd, dl, figure, h1, h2, h3, h4, h5, h6, hr, p, pre {
    margin: 0
}

fieldset {
    margin: 0
}

fieldset, legend {
    padding: 0
}

menu, ol, ul {
    list-style: none;
    margin: 0;
    padding: 0
}

textarea {
    resize: vertical
}

    input::-moz-placeholder, textarea::-moz-placeholder {
        opacity: 1;
        color: #9ca3af
    }

    input:-ms-input-placeholder, textarea:-ms-input-placeholder {
        opacity: 1;
        color: #9ca3af
    }

    input::placeholder, textarea::placeholder {
        opacity: 1;
        color: #9ca3af
    }

[role=button], button {
    cursor: pointer
}

:disabled {
    cursor: default
}

audio, canvas, embed, iframe, img, object, svg, video {
    display: block;
    vertical-align: middle
}

img, video {
    max-width: 100%;
    height: auto
}

[multiple], [type=date], [type=datetime-local], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=time], [type=url], [type=week], select, textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    border-color: #6b7280;
    border-width: 1px;
    border-radius: 0;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.5rem;
    --tw-shadow: 0 0 #0000
}

    [multiple]:focus, [type=date]:focus, [type=datetime-local]:focus, [type=email]:focus, [type=month]:focus, [type=number]:focus, [type=password]:focus, [type=search]:focus, [type=tel]:focus, [type=text]:focus, [type=time]:focus, [type=url]:focus, [type=week]:focus, select:focus, textarea:focus {
        outline: 2px solid #0000;
        outline-offset: 2px;
        --tw-ring-inset: var(--tw-empty,*/ /*!*/ /*!*/ /*);
        --tw-ring-offset-width: 0px;
        --tw-ring-offset-color: #fff;
        --tw-ring-color: #2563eb;
        --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
        --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
        box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow);
        border-color: #2563eb
    }

    input::-moz-placeholder, textarea::-moz-placeholder {
        color: #6b7280;
        opacity: 1
    }

    input:-ms-input-placeholder, textarea:-ms-input-placeholder {
        color: #6b7280;
        opacity: 1
    }

    input::placeholder, textarea::placeholder {
        color: #6b7280;
        opacity: 1
    }

::-webkit-datetime-edit-fields-wrapper {
    padding: 0
}

::-webkit-date-and-time-value {
    min-height: 1.5em
}

::-webkit-datetime-edit, ::-webkit-datetime-edit-day-field, ::-webkit-datetime-edit-hour-field, ::-webkit-datetime-edit-meridiem-field, ::-webkit-datetime-edit-millisecond-field, ::-webkit-datetime-edit-minute-field, ::-webkit-datetime-edit-month-field, ::-webkit-datetime-edit-second-field, ::-webkit-datetime-edit-year-field {
    padding-top: 0;
    padding-bottom: 0
}

select {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3E%3Cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m6 8 4 4 4-4'/%3E%3C/svg%3E");
    background-position: right .5rem center;
    background-repeat: no-repeat;
    background-size: 1.5em 1.5em;
    padding-right: 2.5rem;
    -webkit-print-color-adjust: exact;
    color-adjust: exact
}

[multiple] {
    background-image: none;
    background-position: 0 0;
    background-repeat: unset;
    background-size: initial;
    padding-right: .75rem;
    -webkit-print-color-adjust: unset;
    color-adjust: unset
}

[type=checkbox], [type=radio] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
    display: inline-block;
    vertical-align: middle;
    background-origin: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    flex-shrink: 0;
    height: 1rem;
    width: 1rem;
    color: #2563eb;
    background-color: #fff;
    border-color: #6b7280;
    border-width: 1px;
    --tw-shadow: 0 0 #0000
}

[type=checkbox] {
    border-radius: 0
}

[type=radio] {
    border-radius: 100%
}

    [type=checkbox]:focus, [type=radio]:focus {
        outline: 2px solid #0000;
        outline-offset: 2px;
        --tw-ring-inset: var(--tw-empty,*/ /*!*/ /*!*/
/*);
        --tw-ring-offset-width: 2px;
        --tw-ring-offset-color: #fff;
        --tw-ring-color: #2563eb;
        --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
        --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
        box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow)
    }

    [type=checkbox]:checked, [type=radio]:checked {
        border-color: #0000;
        background-color: currentColor;
        background-size: 100% 100%;
        background-position: 50%;
        background-repeat: no-repeat
    }

[type=checkbox]:checked {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 16 16' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.207 4.793a1 1 0 0 1 0 1.414l-5 5a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L6.5 9.086l4.293-4.293a1 1 0 0 1 1.414 0z'/%3E%3C/svg%3E")
}

[type=radio]:checked {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 16 16' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='8' cy='8' r='3'/%3E%3C/svg%3E")
}

    [type=checkbox]:checked:focus, [type=checkbox]:checked:hover, [type=checkbox]:indeterminate, [type=radio]:checked:focus, [type=radio]:checked:hover {
        border-color: #0000;
        background-color: currentColor
    }

[type=checkbox]:indeterminate {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 16'%3E%3Cpath stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 8h8'/%3E%3C/svg%3E");
    background-size: 100% 100%;
    background-position: 50%;
    background-repeat: no-repeat
}

    [type=checkbox]:indeterminate:focus, [type=checkbox]:indeterminate:hover {
        border-color: #0000;
        background-color: currentColor
    }

[type=file] {
    background: unset;
    border-color: inherit;
    border-width: 0;
    border-radius: 0;
    padding: 0;
    font-size: unset;
    line-height: inherit
}

    [type=file]:focus {
        outline: 1px auto -webkit-focus-ring-color
    }

*, :after, :before {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x:;
    --tw-pan-y:;
    --tw-pinch-zoom:;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal:;
    --tw-slashed-zero:;
    --tw-numeric-figure:;
    --tw-numeric-spacing:;
    --tw-numeric-fraction:;
    --tw-ring-inset:;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: #3b82f680;
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur:;
    --tw-brightness:;
    --tw-contrast:;
    --tw-grayscale:;
    --tw-hue-rotate:;
    --tw-invert:;
    --tw-saturate:;
    --tw-sepia:;
    --tw-drop-shadow:;
    --tw-backdrop-blur:;
    --tw-backdrop-brightness:;
    --tw-backdrop-contrast:;
    --tw-backdrop-grayscale:;
    --tw-backdrop-hue-rotate:;
    --tw-backdrop-invert:;
    --tw-backdrop-opacity:;
    --tw-backdrop-saturate:;
    --tw-backdrop-sepia:
}

::-webkit-backdrop {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x:;
    --tw-pan-y:;
    --tw-pinch-zoom:;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal:;
    --tw-slashed-zero:;
    --tw-numeric-figure:;
    --tw-numeric-spacing:;
    --tw-numeric-fraction:;
    --tw-ring-inset:;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: #3b82f680;
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur:;
    --tw-brightness:;
    --tw-contrast:;
    --tw-grayscale:;
    --tw-hue-rotate:;
    --tw-invert:;
    --tw-saturate:;
    --tw-sepia:;
    --tw-drop-shadow:;
    --tw-backdrop-blur:;
    --tw-backdrop-brightness:;
    --tw-backdrop-contrast:;
    --tw-backdrop-grayscale:;
    --tw-backdrop-hue-rotate:;
    --tw-backdrop-invert:;
    --tw-backdrop-opacity:;
    --tw-backdrop-saturate:;
    --tw-backdrop-sepia:
}

::backdrop {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x:;
    --tw-pan-y:;
    --tw-pinch-zoom:;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal:;
    --tw-slashed-zero:;
    --tw-numeric-figure:;
    --tw-numeric-spacing:;
    --tw-numeric-fraction:;
    --tw-ring-inset:;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: #3b82f680;
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur:;
    --tw-brightness:;
    --tw-contrast:;
    --tw-grayscale:;
    --tw-hue-rotate:;
    --tw-invert:;
    --tw-saturate:;
    --tw-sepia:;
    --tw-drop-shadow:;
    --tw-backdrop-blur:;
    --tw-backdrop-brightness:;
    --tw-backdrop-contrast:;
    --tw-backdrop-grayscale:;
    --tw-backdrop-hue-rotate:;
    --tw-backdrop-invert:;
    --tw-backdrop-opacity:;
    --tw-backdrop-saturate:;
    --tw-backdrop-sepia:
}

.container {
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem
}

@media (min-width:480px) {
    .container {
        max-width: 480px
    }
}

@media (min-width:600px) {
    .container {
        max-width: 600px;
        padding-right: 2rem;
        padding-left: 2rem
    }
}

@media (min-width:782px) {
    .container {
        max-width: 782px
    }
}

@media (min-width:960px) {
    .container {
        max-width: 960px;
        padding-right: 0;
        padding-left: 0
    }
}

@media (min-width:1280px) {
    .container {
        max-width: 1280px
    }
}

@media (min-width:1440px) {
    .container {
        max-width: 1440px
    }
}

.pointer-events-none {
    pointer-events: none
}

.fixed {
    position: fixed
}

.absolute {
    position: absolute
}

.relative {
    position: relative
}

.inset-0 {
    right: 0;
    left: 0
}

.inset-0, .inset-y-0 {
    top: 0;
    bottom: 0
}

.inset-x-0 {
    left: 0;
    right: 0
}

.left-0 {
    left: 0
}

.top-6 {
    top: 1.5rem
}

.left-4 {
    left: 1rem
}

.top-full {
    top: 100%
}

.-right-2 {
    right: -.5rem
}

.top-0 {
    top: 0
}

.left-2 {
    left: .5rem
}

.z-20 {
    z-index: 20
}

.m-8 {
    margin: 2rem
}

.my-3 {
    margin-top: .75rem;
    margin-bottom: .75rem
}

.my-8 {
    margin-top: 2rem;
    margin-bottom: 2rem
}

.mx-auto {
    margin-left: auto;
    margin-right: auto
}

.mb-8 {
    margin-bottom: 2rem
}

.mt-4 {
    margin-top: 1rem
}

.-ml-2 {
    margin-left: -.5rem
}

.mb-1 {
    margin-bottom: .25rem
}

.-ml-4 {
    margin-left: -1rem
}

.mt-8 {
    margin-top: 2rem
}

.mb-6 {
    margin-bottom: 1.5rem
}

.mb-4 {
    margin-bottom: 1rem
}

.mb-14 {
    margin-bottom: 3.5rem
}

.mr-4 {
    margin-right: 1rem
}

.ml-44 {
    margin-left: 11rem
}

.mt-48 {
    margin-top: 12rem
}

.-mr-2 {
    margin-right: -.5rem
}

.mb-2 {
    margin-bottom: .5rem
}

.flex {
    display: flex
}

.grid {
    display: grid
}

.hidden {
    display: none
}

.aspect-square {
    aspect-ratio: 1/1
}

.aspect-video {
    aspect-ratio: 16/9
}

.h-1 {
    height: .25rem
}

.h-24 {
    height: 6rem
}

.h-\[28rem\] {
    height: 28rem
}

.h-80 {
    height: 20rem
}

.h-full {
    height: 100%
}

.h-6 {
    height: 1.5rem
}

.h-4 {
    height: 1rem
}

.min-h-screen {
    min-height: 100vh
}

.min-h-\[48rem\] {
    min-height: 48rem
}

.min-h-\[32rem\] {
    min-height: 32rem
}

.min-h-\[1rem\] {
    min-height: 1rem
}

.w-full {
    width: 100%
}

.w-16 {
    width: 4rem
}

.w-72 {
    width: 18rem
}

.w-1\/3 {
    width: 33.333333%
}

.w-\[calc\(100\%\+theme\(spacing\.4\)\)\] {
    width: calc(100% + 1rem)
}

.w-4 {
    width: 1rem
}

.w-2\/3 {
    width: 66.666667%
}

.w-14 {
    width: 3.5rem
}

.w-24 {
    width: 6rem
}

.w-44 {
    width: 11rem
}

.max-w-sm {
    max-width: 24rem
}

.max-w-6xl {
    max-width: 72rem
}

.shrink-0 {
    flex-shrink: 0
}

.flex-grow {
    flex-grow: 1
}

.basis-1\/2 {
    flex-basis: 50%
}

.origin-bottom-right {
    transform-origin: bottom right
}

.origin-bottom-left {
    transform-origin: bottom left
}

.-translate-y-20 {
    --tw-translate-y: -5rem
}

.-rotate-90, .-translate-y-20 {
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.-rotate-90 {
    --tw-rotate: -90deg
}

.cursor-pointer {
    cursor: pointer
}

.select-none {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.list-disc {
    list-style-type: disc
}

.list-decimal {
    list-style-type: decimal
}

.grid-cols-2 {
    grid-template-columns: repeat(2,minmax(0,1fr))
}

.grid-cols-3 {
    grid-template-columns: repeat(3,minmax(0,1fr))
}

.flex-row {
    flex-direction: row
}

.flex-col {
    flex-direction: column
}

.items-start {
    align-items: flex-start
}

.items-center {
    align-items: center
}

.justify-center {
    justify-content: center
}

.justify-between {
    justify-content: space-between
}

.gap-8 {
    gap: 2rem
}

.gap-6 {
    gap: 1.5rem
}

.gap-2 {
    gap: .5rem
}

.gap-4 {
    gap: 1rem
}

.gap-12 {
    gap: 3rem
}

.gap-1 {
    gap: .25rem
}

.whitespace-nowrap {
    white-space: nowrap
}

.rounded {
    border-radius: .25rem
}

.rounded-sm {
    border-radius: .125rem
}

.border {
    border-width: 1px
}

.border-b {
    border-bottom-width: 1px
}

.border-b-2 {
    border-bottom-width: 2px
}

.border-t-4 {
    border-top-width: 4px
}

.border-b-4 {
    border-bottom-width: 4px
}

.border-l-8 {
    border-left-width: 8px
}

.border-l-4 {
    border-left-width: 4px
}

.border-primary {
    --tw-border-opacity: 1;
    border-color: rgb(var(--color-primary)/var(--tw-border-opacity))
}

.border-gray-100 {
    --tw-border-opacity: 1;
    border-color: rgb(243 244 246/var(--tw-border-opacity))
}

.border-gray-400 {
    --tw-border-opacity: 1;
    border-color: rgb(156 163 175/var(--tw-border-opacity))
}

.border-gray-300 {
    --tw-border-opacity: 1;
    border-color: rgb(209 213 219/var(--tw-border-opacity))
}

.border-gray-200 {
    --tw-border-opacity: 1;
    border-color: rgb(229 231 235/var(--tw-border-opacity))
}

.bg-primary {
    --tw-bg-opacity: 1;
    background-color: rgb(var(--color-primary)/var(--tw-bg-opacity))
}

.bg-gray-200 {
    --tw-bg-opacity: 1;
    background-color: rgb(229 231 235/var(--tw-bg-opacity))
}

.bg-gray-50 {
    --tw-bg-opacity: 1;
    background-color: rgb(249 250 251/var(--tw-bg-opacity))
}

.bg-gray-100 {
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246/var(--tw-bg-opacity))
}

.bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity))
}

.bg-black {
    --tw-bg-opacity: 1;
    background-color: rgb(0 0 0/var(--tw-bg-opacity))
}

.bg-primary-light {
    --tw-bg-opacity: 1;
    background-color: rgb(var(--color-primary-light)/var(--tw-bg-opacity))
}

.bg-opacity-50 {
    --tw-bg-opacity: 0.5
}

.bg-gradient-to-r {
    background-image: linear-gradient(to right,var(--tw-gradient-stops))
}

.from-gray-400\/20 {
    --tw-gradient-from: #9ca3af33;
    --tw-gradient-to: #9ca3af00;
    --tw-gradient-stops: var(--tw-gradient-from),var(--tw-gradient-to)
}

.to-white {
    --tw-gradient-to: #fff
}

.object-cover {
    -o-object-fit: cover;
    object-fit: cover
}

.p-2 {
    padding: .5rem
}

.p-16 {
    padding: 4rem
}

.p-8 {
    padding: 2rem
}

.px-4 {
    padding-left: 1rem;
    padding-right: 1rem
}

.py-2 {
    padding-top: .5rem;
    padding-bottom: .5rem
}

.px-3 {
    padding-left: .75rem;
    padding-right: .75rem
}

.py-12 {
    padding-top: 3rem;
    padding-bottom: 3rem
}

.py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem
}

.px-20 {
    padding-left: 5rem;
    padding-right: 5rem
}

.py-10 {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem
}

.px-8 {
    padding-left: 2rem;
    padding-right: 2rem
}

.py-1 {
    padding-top: .25rem;
    padding-bottom: .25rem
}

.px-16 {
    padding-left: 4rem;
    padding-right: 4rem
}

.px-2 {
    padding-left: .5rem;
    padding-right: .5rem
}

.px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem
}

.pt-24 {
    padding-top: 6rem
}

.pl-3 {
    padding-left: .75rem
}

.pl-10 {
    padding-left: 2.5rem
}

.pl-8 {
    padding-left: 2rem
}

.pl-16 {
    padding-left: 4rem
}

.pb-10 {
    padding-bottom: 2.5rem
}

.pl-4 {
    padding-left: 1rem
}

.text-center {
    text-align: center
}

.text-right {
    text-align: right
}

.font-bodoni {
    font-family: Bodoni Moda,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji
}

.font-sans {
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji
}

.text-5xl {
    font-size: 3rem;
    line-height: 1
}

.text-2xl {
    font-size: 1.5rem;
    line-height: 2rem
}

.text-xl {
    font-size: 1.25rem
}

.text-sm {
    font-size: .875rem;
    line-height: 1.25rem
}

.text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem
}

.text-7xl {
    font-size: 4.5rem;
    line-height: 1
}

.text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem
}

.text-base {
    font-size: 1rem;
    line-height: 1.5rem
}

.font-light {
    font-weight: 300
}

.font-bold {
    font-weight: 700
}

.font-semibold {
    font-weight: 600
}

.font-medium {
    font-weight: 500
}

.font-extrabold {
    font-weight: 800
}

.uppercase {
    text-transform: uppercase
}

.normal-case {
    text-transform: none
}

.leading-tight {
    line-height: 1.25
}

.leading-none {
    line-height: 1
}

.\!leading-\[4rem\] {
    line-height: 4rem !important
}

.tracking-normal {
    letter-spacing: 0
}

.text-gray-800 {
    --tw-text-opacity: 1;
    color: rgb(31 41 55/var(--tw-text-opacity))
}

.text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity))
}

.text-gray-500 {
    --tw-text-opacity: 1;
    color: rgb(107 114 128/var(--tw-text-opacity))
}

.text-primary {
    --tw-text-opacity: 1;
    color: rgb(var(--color-primary)/var(--tw-text-opacity))
}

.text-gray-400 {
    --tw-text-opacity: 1;
    color: rgb(156 163 175/var(--tw-text-opacity))
}

.text-gray-900 {
    --tw-text-opacity: 1;
    color: rgb(17 24 39/var(--tw-text-opacity))
}

.text-gray-300 {
    --tw-text-opacity: 1;
    color: rgb(209 213 219/var(--tw-text-opacity))
}

.\!text-gray-700 {
    --tw-text-opacity: 1 !important;
    color: rgb(55 65 81/var(--tw-text-opacity)) !important
}

.text-blue-500 {
    --tw-text-opacity: 1;
    color: rgb(59 130 246/var(--tw-text-opacity))
}

.text-gray-700 {
    --tw-text-opacity: 1;
    color: rgb(55 65 81/var(--tw-text-opacity))
}

.underline {
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline
}

.antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.transition-colors {
    transition-property: color,background-color,border-color,fill,stroke,-webkit-text-decoration-color;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,-webkit-text-decoration-color;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s
}

.alignfull {
    margin: 2rem calc(50% - 50vw) !important;
    max-width: 100vw !important;
    width: 100vw
}

.alignwide {
    margin: 2rem 0;
    max-width: 1280px !important
}

.alignnone {
    margin-left: 0;
    margin-right: 0;
    height: auto;
    max-width: 100%
}

.aligncenter {
    margin: .5rem auto;
    display: block
}

@media (min-width:600px) {
    .alignleft:not(.wp-block-button) {
        margin-right: .5rem;
        float: left
    }

    .alignright:not(.wp-block-button) {
        margin-left: .5rem;
        float: right
    }

    .wp-block-button.alignleft a {
        float: left;
        margin-right: 1rem
    }

    .wp-block-button.alignright a {
        float: right;
        margin-left: 1rem
    }
}

.wp-caption {
    display: inline-block
}

    .wp-caption img {
        margin-bottom: .5rem;
        line-height: 1
    }

.wp-caption-text {
    font-size: .875rem;
    color: #4b5563
}

.line-clamp-3 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3
}

.block-editor-block-list__layout h1, .entry-content h1 {
    font-size: 1.5rem;
    line-height: 2rem
}

.block-editor-block-list__layout h2, .entry-content h2 {
    font-size: 1.25rem
}

.block-editor-block-list__layout h3, .entry-content h3 {
    font-size: 1.125rem;
    line-height: 1.75rem
}

.block-editor-block-list__layout ol a, .block-editor-block-list__layout p a, .block-editor-block-list__layout ul a, .entry-content ol a, .entry-content p a, .entry-content ul a {
    --tw-text-opacity: 1;
    color: rgb(59 130 246/var(--tw-text-opacity));
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline
}

    .block-editor-block-list__layout ol a:hover, .block-editor-block-list__layout p a:hover, .block-editor-block-list__layout ul a:hover, .entry-content ol a:hover, .entry-content p a:hover, .entry-content ul a:hover {
        -webkit-text-decoration-line: none;
        text-decoration-line: none
    }

.block-editor-block-list__layout ol, .block-editor-block-list__layout p, .block-editor-block-list__layout ul, .entry-content ol, .entry-content p, .entry-content ul {
    margin-bottom: 2rem
}

    .block-editor-block-list__layout ul:not(.block-editor-block-variation-picker__variations) li, .entry-content ul:not(.block-editor-block-variation-picker__variations) li {
        list-style-position: inside;
        list-style-type: disc
    }

    .block-editor-block-list__layout ol li, .entry-content ol li {
        list-style-position: inside;
        list-style-type: decimal
    }

.page-numbers {
    margin-right: 1rem;
    --tw-text-opacity: 1;
    color: rgb(var(--color-primary)/var(--tw-text-opacity))
}

    .page-numbers.current {
        font-weight: 800
    }

.post-content p {
    margin-bottom: 1rem
}

.post-content a {
    --tw-text-opacity: 1;
    color: rgb(var(--color-primary)/var(--tw-text-opacity))
}

.post-content blockquote {
    margin-bottom: 1rem;
    border-left-width: 4px;
    --tw-border-opacity: 1;
    border-color: rgb(229 231 235/var(--tw-border-opacity));
    padding-left: 1rem
}*/

.section {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 1.5rem;
    border-top: 4px solid var(--color-primary);
    padding: 20px 40px 40px 40px;
}

.section__heading {
    font-family: Bodoni Moda,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .1em
}

.section__decoration {
    position: absolute;
    top: 100%;
    left: .5rem;
    transform-origin: bottom left;
    transform: translate(0,-5rem) rotate(-90deg);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    text-align: right;
    font-family: Bodoni Moda,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-size: 4.5rem;
    text-transform: uppercase;
    line-height: 1;
    --tw-text-opacity: 1;
    color: rgb(209 213 219)
}
/*
.section__button {
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(var(--color-primary)/var(--tw-border-opacity));
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-family: Bodoni Moda,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    --tw-text-opacity: 1;
    color: rgb(var(--color-primary)/var(--tw-text-opacity));
    transition-property: color,background-color,border-color,fill,stroke,-webkit-text-decoration-color;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,-webkit-text-decoration-color;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s
}

    .section__button:hover {
        --tw-bg-opacity: 1;
        background-color: rgb(var(--color-primary)/var(--tw-bg-opacity));
        --tw-text-opacity: 1;
        color: rgb(255 255 255/var(--tw-text-opacity))
    }

::-moz-selection {
    --tw-bg-opacity: 1;
    background-color: rgb(var(--color-primary-light)/var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity))
}

::selection {
    --tw-bg-opacity: 1;
    background-color: rgb(var(--color-primary-light)/var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity))
}

.featured-item--audio, .featured-item--audio .psl-media-player-iframe-container, .featured-item--video, .featured-item--video .psl-media-player-iframe-container {
    height: 100%
}

    .featured-item--audio #psl-media-player-iframe, .featured-item--video #psl-media-player-iframe {
        height: 100%;
        width: 100%
    }

.hover\:bg-primary:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(var(--color-primary)/var(--tw-bg-opacity))
}

.hover\:text-linkedin:hover {
    --tw-text-opacity: 1;
    color: rgb(40 103 178/var(--tw-text-opacity))
}

.hover\:text-twitter:hover {
    --tw-text-opacity: 1;
    color: rgb(29 161 242/var(--tw-text-opacity))
}

.hover\:text-facebook:hover {
    --tw-text-opacity: 1;
    color: rgb(66 103 178/var(--tw-text-opacity))
}

.hover\:text-xing:hover {
    --tw-text-opacity: 1;
    color: rgb(2 100 102/var(--tw-text-opacity))
}

.hover\:\!text-white:hover {
    --tw-text-opacity: 1 !important;
    color: rgb(255 255 255/var(--tw-text-opacity)) !important
}

.hover\:text-white:hover {
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity))
}

.focus\:border-primary:focus {
    --tw-border-opacity: 1;
    border-color: rgb(var(--color-primary)/var(--tw-border-opacity))
}

.focus\:ring-primary:focus {
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(var(--color-primary)/var(--tw-ring-opacity))
}

.group:hover .group-hover\:hidden {
    display: none
}

.group:hover .group-hover\:bg-primary {
    --tw-bg-opacity: 1;
    background-color: rgb(var(--color-primary)/var(--tw-bg-opacity))
}

.group:hover .group-hover\:bg-opacity-100 {
    --tw-bg-opacity: 1
}

.group:hover .group-hover\:fill-primary {
    fill: rgb(var(--color-primary)/1)
}

.group:hover .group-hover\:line-clamp-3 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3
}

@media (min-width:782px) {
    .md\:my-6 {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem
    }

    .md\:flex {
        display: flex
    }

    .md\:w-1\/2 {
        width: 50%
    }

    .md\:text-3xl {
        font-size: 1.875rem;
        line-height: 2.25rem
    }
}*/