.passle-subscribe {
    justify-content: right;
    display: flex;
    margin-right: -20px;
}

.passle-subscribe > a {
    background-color: #FF5271;
    color: #fff;
    text-decoration: none;
    padding: 9px 24px 9px 24px;
    font-size: 16px;
    font-family: "Bodoni Moda", sans-serif !important;
    letter-spacing: .64px;
}

.passle-subscribe > a:hover, .passle-subscribe > a:focus {
    background-color: #f14c6a;
    color: #fff;
    text-decoration: none;
}

.passle-subscribe > a > svg {
    fill: #fff;
    width: 19px;
    height: 18px;
    margin-right: 5px;
    position: relative;
    top: 3px;
}

.post-page {
    flex-direction: column;
}

.post-header {
    background-color: #fff;
    padding: 20px 60px 0 60px;
}

.post-title {
    padding-bottom: 60px;
}

.post-title > h1 {
    font-size: 55px;
    line-height: 1.4;
    font-weight: 600;
}

.post-author-container {
    height: 140px;
    color: #fff;
}

.post-author-container > a {
    text-decoration: none;
    color: #fff;
}

.post-author-container > a:hover, .post-author-container > a:focus {
    color: #fff !important;
    text-decoration: none !important;
}

.post-author-details {
    display: flex;
    column-gap: 20px;
    padding-top: 20px;
}

.post-author-details > div {
    position: relative;
    margin: auto 0;
}

.post-author-details > div > h3 {
    margin-top: 0;
}

.post-author-name {
    text-decoration: underline;
}

.post-author-role {
    text-decoration: none !important;
}


.post-author-banner {
    width: 100vw;
    left: 0;
    position: absolute;
    background-color: #ff5271;
    height: 140px;
}

.post-author-image {
    height: 100px;
    position: relative;
}

.post-sub-header {
    display: flex;
    column-gap: 20px;
    max-height: 170px;
}

.post-details {
    flex-grow: 2;
    min-width: 40%;
}

.post-featured-item {
    flex-grow: 3;
    position: relative;
    max-height: 280px;
    max-width: 60%;
    vertical-align: middle;
    margin-top: -40px;
    margin-bottom: -60px;
    z-index: 2;
}

.post-featured-item > .featured-item--image,
.post-featured-item > .featured-item--video,
.post-featured-item > .featured-item--audio,
.post-featured-item > .featured-item--embed,
.post-featured-item > .featured-item--document {
    width: 100%;
    height: 100%;
    position: relative;
}

.post-featured-item  > .featured-item--image > img {
    max-height: 100%;
    max-width: 100%;
    border: 1px solid #ccc;
    float: right;
}

.post-featured-item > .featured-item--video > div,
.post-featured-item > .featured-item--audio > div {
    height: 100%;
    width: 100%;
    border: 1px solid #ccc;
    float: right;
}

.post-featured-item > .featured-item--video > div > iframe,
.post-featured-item > .featured-item--audio > div > iframe {    
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    width: 100%;
}

.post-featured-item > .featured-item--embed > iframe {
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    width: 100%;
}

.post-featured-item > .featured-item--document > a > div {
    display: none;
}

.post-featured-item > .featured-item--document > a > img {
    object-fit: contain;
    height: 100%;
    float: right;
    border: 1px solid #ccc;
}


.post-header-bottom {
    background-color: #cccccc75;
    z-index: 1;
    width: calc(100% - 60px);
}

.post-social-links {
    height: 30px;
    color: #333;
    margin-left: calc(15% + 80px);
    padding-top: 4px;
}

.post-social-links > a {
    color: #333;
    margin: 8px;
}

.post-social-links > a > i {
    width: 18px;
    font-size: 16px;
}

.post-social-links > a:hover, .post-social-links > a:focus {
    text-decoration: none;
}
.post-social-links > a:hover > .fa-linkedin-in, .post-social-links > a:focus > .fa-linkedin-in {
    color: #2867B2;
}
.post-social-links > a:hover > .fa-twitter, .post-social-links > a:focus > .fa-twitter {
    color: #1DA1F2;
}
.post-social-links > a:hover > .fa-facebook-f, .post-social-links > a:focus > .fa-facebook-f {
    color: #4267B2;
}
.post-social-links > a:hover > .fa-xing, .post-social-links > a:focus > .fa-xing {
    color: #026466;
}
.post-social-links > a:hover > .fa-print, .post-social-links > a:focus > .fa-print {
    color: #ff5271;
}

.istatoy-icon {
    width: 18px;
    top: 3px;
    position: relative;
}
.istatoy-icon > .st1{
    fill: #333;
}
a:hover > .istatoy-icon > .st1 {
    fill: #ff5271;
}

.istatoy-icon > .st3,
.istatoy-icon > .st4 {
    fill: #333;
}
a:hover > .istatoy-icon > .st3,
a:hover > .istatoy-icon > .st4 {
    fill: #ff5271;
}

.post-body {
    display:flex;
}

.post-body-side-bar {
    flex-grow: 1;
    min-width: 15%;
}

.post-body-content {
    flex-grow: 5;
    background-color: #fff;
    padding: 110px 80px 40px 80px;
    margin-top: -30px;
}

.post-passle-stylistic {
    text-orientation: sideways-right;
    writing-mode: vertical-lr;
    transform: rotate( 180deg);
    font-size: 5vw;
    left: calc(100% - 5vw);
    position: relative;
    white-space: nowrap;
    color: #333;
    opacity: .14;
    margin-top: 80px;
    font-family: "Bodoni Moda", sans-serif !important;
    overflow: hidden;
    line-height: 1.25;
}

.post-body-quote-container {
    position: relative;
    margin: 40px 0;
}

.post-body-quote-border {
    border-left: 5px solid #ff5271;
    height: calc(100% - 12px);
    position: absolute;
    margin-left: 40px;
    margin-top: 7px;
}

.post-body-quote {
    margin-left: 80px;
    font-family: 'Bodoni Moda';
    font-size: 28px;
    margin-right: 40px;
}

.post-body-quote-url {
    margin-left: 80px;
    color: #ff5271;
    text-decoration: none;
    font-size: 19px;
    margin-top: 20px;
}

.post-body-quote-url:hover, .post-body-quote-url:focus {
    color: #ff5271;
    text-decoration: underline;
}

.post-body-tags {
    margin-top: 40px;
    font-size: 19px;
}
.post-body-tags-list {
    color: #ff5271;
}
.post-body-tags-list:before {
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    content: "\f02c";
    margin-right: 10px;
    color: #333;
}

.post-body-tweets {
    margin-top: 40px;
}

.post-body-text {
    font-size: 19px;
}

.post-body-text > p {
    margin: 0 0 20px;
}

.post-body-text > p > a {
    color: #ff5271;
}