body {
    background-color: #efefef !important;
    color: #333333;
    font-family: "PT Sans", sans-serif !important;
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
}

.navbar {
    background-color: #fff;
}

.navbar .navbar-brand {
    color: #333;
}

.navbar-header > .logo {
    height: 60px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Bodoni Moda", sans-serif !important;
}

.page-container {
    background-color: #efefef;
    margin: 80px 0 0 0;
    padding: 20px 0;
    padding-bottom: 0;
}

.page-subnav {
    display: flex;
    justify-content: space-between;
}

.subnav-left {
    display: flex;
}

.page-body {
    margin-top: 20px;
    display: flex;
    margin-bottom: 60px;
    word-break: break-word;
}

.breadcrumb {
    margin-bottom: 0px !important;
    background-color: inherit !important;
    font-weight: bold;
    color: #FF5271;
    font-family: "Bodoni Moda", sans-serif !important;
    line-height: 1.8;
}
.breadcrumb > a, .breadcrumb > span {
    margin: 0 10px;
    text-decoration: none;
    color: #FF5271;
}
.breadcrumb > a:hover {
    text-decoration: none;
    color: #f14c6a;
}

.search-bar-container {
    position: relative;
    color: #999;
}
.search-bar-container > i {
    position: absolute;
    top: 30%;
    left: 10px;
}
.search-bar {
    width: 240px;
    padding: 8px 10px 8px 40px;
}
.search-bar:focus-visible {
    border: 1px solid #FF5271;
    outline: #FF5271 auto 1px;
}

.full-width-container {
    display: flex;
    /*width: calc(100% + 80px);*/
    width: 100%;
    background-color: #fff;
    /*margin-left: -40px;
    margin-right: -40px;*/
    position: relative;
}
