body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.umb-tabs-nav {
    margin-bottom: 0;
}

.table-actions {
    margin-bottom: 20px;
}

.umb-panel,
.umb-panel .umb-panel-body,
.umb-panel .umb-pane,
.umb-panel .umb-pane > div,
.umb-panel .umb-box,
.umb-panel .umb-box .umb-box-content,
.umb-panel umb-tab-content,
.umb-panel umb-tab-content > div,
.umb-panel umb-tab-content > div > ng-transclude,
.umb-panel umb-tab-content > div > ng-transclude > div,
health-check,
health-check > div,
#health-check-iframe-container,
#health-check-iframe-container > iframe {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#health-check-iframe-container > iframe {
    background: none;
}
