@using Umbraco.Core;
@using PassleSync.Website.ViewModels;
@using PassleSync.Core.Extensions;
@inherits Umbraco.Web.Mvc.UmbracoViewPage<HomePageViewModel>
@{
    Layout = "Layout.cshtml";
}

<div class="flex flex-col gap-8 max-w-6xl mx-auto">
    @*TODO: Create other sections?*@
    @*@Html.Partial("Partials/Sections/Events");*@
    @Html.Partial("Partials/Sections/Insights", Model)
    @*@Html.Partial("Partials/Sections/Whitepapers");*@
</div>
