﻿<umb-box>
    <umb-box-header><h3>Passle Sync Plugin Dashboard</h3></umb-box-header>
    <umb-box-content>
        <div ng-controller="PassleSyncDashboardController as vm">
            <div>
                <umb-load-indicator ng-if="vm.loading"></umb-load-indicator>
                <div class="welcome-dashboard">
                    <div class="ipsum">
                        <div class="ipsum-search">


                            <div class="">
                                <div class="">
                                    <div class="">


                                        <label for="apiKey">Passle API Key</label><br />
                                        <input id="apiKey" type="text" name="apiKey" ng-model="vm.apiKey" required />
                                        <br />
                                        <br />


                                        <label for="pluginApiKey">Plugin API Key</label><br />
                                        <input id="pluginApiKey" type="text" name="pluginApiKey" ng-model="vm.pluginApiKey" required />
                                        <br />
                                        <br />



                                        <label for="shortcode">Passle Shortcodes</label><br />
                                        <input id="shortcode" type="text" name="shortcode" ng-model="vm.shortcode" required />
                                        <br />
                                        <br />

                                        <label for="postPermalinkPrefix">Post Permalink Prefix</label><br />
                                        <input id="postPermalinkPrefix" type="text" name="postPermalinkPrefix" ng-model="vm.postPermalinkPrefix" required />
                                        <br />
                                        <br />
                                    </div>

                                    <div class="col">
                                        <label for="personPermalinkPrefix">Person Permalink Prefix</label><br />
                                        <input id="personPermalinkPrefix" type="text" name="personPermalinkPrefix" ng-model="vm.personPermalinkPrefix" required />
                                        <br />
                                        <br />

                                        <label for="apiUrl">API base url</label><br />
                                        <input id="apiUrl" type="text" name="apiUrl" ng-model="vm.apiUrl" required />

                                        <br />
                                        <br />
                                        <label for="peopleParentNodeId">People Parent Node Id</label><br />
                                        <input id="peopleParentNodeId" type="number" name="peopleParentNodeId" ng-model="vm.peopleParentNodeId" />

                                        <br />
                                        <br />
                                        <label for="PostsParentNodeId">Posts Parent Node Id</label><br />
                                        <input id="postsParentNodeId" type="number" name="postsParentNodeId" ng-model="vm.postsParentNodeId" />
                                    </div>
                                </div>
                            </div>
                            <br />
                            <br />
                            <umb-button action="vm.clickButtonSyncAuthors()"
                                        type="button"
                                        button-style="success"
                                        state="vm.buttonAuthorsStateSync"
                                        shortcut="ctrl+c"
                                        label="Sync Authors"
                                        disabled="vm.buttonAuthorsStateSync === 'busy'">
                            </umb-button>

                            <br />
                            <br />

                            <umb-button action="vm.clickButtonSyncPosts()"
                                        type="button"
                                        button-style="success"
                                        state="vm.buttonPostsStateSync"
                                        shortcut="ctrl+c"
                                        label="Sync Posts"
                                        disabled="vm.buttonPostsStateSync === 'busy'">
                            </umb-button>




                        </div>
                    </div>
                </div>
                <umb-editor-footer>
                    <umb-editor-footer-content-left>
                        <umb-button action="vm.clickButton()"
                                    type="button"
                                    button-style="success"
                                    state="vm.buttonState"
                                    shortcut="ctrl+s"
                                    label="Save changes"
                                    disabled="vm.buttonState === 'busy'">
                        </umb-button>
                    </umb-editor-footer-content-left>
                    <br />
                    <br />
                    <umb-editor-footer-content-right>

                    </umb-editor-footer-content-right>
                </umb-editor-footer>
            </div>
        </div>


    </umb-box-content>
</umb-box>