@using PassleSync.Website.ViewModels;
@inherits Umbraco.Web.Mvc.UmbracoViewPage<HomePageViewModel>

<div class="section">

    <h2 class="section__heading">Latest industry insights</h2>
    <div class="section__decoration">Insights</div>

    @if (Model.FeaturedPost != null)
    {
        @Html.Partial("Partials/PasslePost", Model.FeaturedPost, new ViewDataDictionary() {
            { "IsFeatured", true }
        });
    }

    <div class="grid grid-cols-2 gap-6">
        @foreach (var post in Model.Posts)
        {
            @Html.Partial("PasslePost", post);
        }
    </div>

    <div class="flex justify-center">
        <a href="/insights" class="section__button">More insights</a>
    </div>

</div>
