.warning {
    background-color: #fb8e8e;
    border: 1px solid #b12828;
    border-radius: 8px;
    padding: 16px;
    line-height: 1.5rem;
}

.warning > p {
    margin-bottom: 0;
}

.warning > p > a {
    text-decoration: underline;
}

tbody {
    vertical-align: baseline;
}

th {
    padding-right: 16px;
    text-align: start;
}

input[type=checkbox] {
    margin: 16px;
}

table {
    margin: 20px 0;
}